<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>About Us</title>
</head>
<body>
	<h1>About Us</h1>
	<p>Artsby busca poner el arte al alcance de todo el mundo, para que la gente pueda disfrutar de esta magnifica....</p>
</body>
</html>
