<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Artsby App Webpage</title>
</head>
<body>
	<%= render partial: 'topbar' %>
	<h1>Artsby App</h1>
	<p>Acabas de entrar en un portal dedicado exclusivamente al arte, antes de poder acceder a el tendras que registrarte</p>
	<a class= "button" <%= link_to "Registrate", new_user_registration_path %> </a>
	
	<a class= "button" <%= link_to "Sign in", new_session_path(:user) %> </a>
</body>
</html>