<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Artsby App Webpage</title>
</head>
<body>
	<h1>Artsby App</h1>
	<p>Acabas de entrar en un portal dedicado exclusivamente al arte, antes de poder acceder a el tendras que registrarte</p>
	<%= link_to "Registrate", new_user_registration_path %>
	<%= link_to "Sign in", new_session_path(:user) %><br />
</body>
</html>